body, html {
  margin: 0;
  padding: 0;
  height: 650px;
  background-color:#e5f2f2 ;
}

.navbar{
  background-color: #ffffff;
}

.header {
  padding: 10px; /* Ajusta el espaciado según sea necesario */
}

.a, .b {
  margin: 0; /* Elimina márgenes para alinear mejor el texto */
}

.b{
  font-size: 25px;
}

.btn{
  width: 40%;
}

.table-success{
  background-color: #77824A;
}

.results{
  padding: 2%;
}


.container {
    padding: 20px;
  }
  
  .text-center {
    text-align: center;
  }
  
  .card {
    display: inline-block; /* Allows cards to align properly */
    margin: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    width: 300px; /* Adjust as needed */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
  
  .card img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
  }
  
  .card-body {
    text-align: center;
  }
  .busqueda-qr {
    min-height: 40vh; 
    margin-top: 0vh; 
    text-align: center;
  }

/* Make main content take remaining height of the page */
.main {
  min-height: 60vh; 
  margin-top: 0vh; 
  text-align: center;
  height: 200px;
}
.busqueda-qr {
  margin-top: 0vh; 
  text-align: center;
}
.busqueda-manual { 
  margin-top: 20vh; 
  text-align: center;
}
.results{
  margin-bottom: 0vh;
}

#account{
  color: rgba(158, 0, 0, 0.832); 
  text-decoration: none;
}

#search-qr{
  font-weight: bold;
}

.busqueda-qr{
height: 50%;
}

#buttonGroup {
  position: fixed;
  bottom: 5%; /* Positions it above the fixed footer */
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 0px;
  background-color: rgb(255, 255, 255); /* Adjust as needed */
  z-index: 1000; /* Ensure it's above the footer */
  color: #000;
}




/* Para que las secciones ocultas no ocupen espacio */
.hidden {
    display: none;
}



.footer {
  position: fixed;
  bottom: 0;
  width: 100%; /* Ocupa todo el ancho disponible */
  height: 5%; /* Altura del footer */
  padding: 0;
  margin: 0;
}

.row {
  display: flex; /* Para asegurar que las columnas se distribuyan horizontalmente */
  width: 100%; /* Asegura que la fila ocupe todo el ancho */
  height: 100%; /* Hace que la fila ocupe todo el alto del footer */
}

.col-md-4 {
  flex: 1; /* Las columnas ocupan el mismo espacio horizontalmente */
  height: 100%; /* Para que cada columna ocupe el alto completo */
  padding: 0; /* Sin padding extra en las columnas */
  height: 100%; /* Hace que la fila ocupe todo el alto del footer */
}

.azul {
  background-color: #64ABB1 ;
}

.verde {
  background-color: #77824A;
}

.amarillo {
  background-color: #E29D4F;
}

.disclaimer{
  text-align: center;
  position: fixed;
  bottom: 50%;
  width: 100%; /* Ocupa todo el ancho disponible */
  padding: 0;
  margin: 0;
  font-size: 20px;
}